<a href="https://colab.research.google.com/github/JimenaBaripatti/FeatureEngineering/blob/main/Hydrants_geometry_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# setting up libraries
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

%matplotlib inline

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  if sys.path[0] == '':

In [3]:
#Reading Data
df = pd.read_csv('Fire_Hydrants_Data.csv')
df_original = df.copy()
df.head()

,_id,FACILITYID,LOCDESC,X_COORDINATE,Y_COORDINATE,geometry
0,1,HY4014837,99 BEVERLY HILLS DR ACROSS 2ND SOUTH OF WILSON AVE ON EAST SIDE,303523.657,4841793.384,"{u'type': u'Point', u'coordinates': (-79.5156446895, 43.7180897096)}"
1,2,HY4019330,62m South 82 CARNFORTH RD,319369.222,4843857.194,"{u'type': u'Point', u'coordinates': (-79.3189377615, 43.7365254436)}"
2,3,HY1356043,21m West 67 DUNCANNON DR,311870.194,4840197.712,"{u'type': u'Point', u'coordinates': (-79.4120812703, 43.7036940724)}"
3,4,HY4041398,6150 YONGE ST ON GOULDING AVE NORTH WEST CORNER,311311.715,4850015.128,"{u'type': u'Point', u'coordinates': (-79.4188921533, 43.7920683833)}"
4,5,HY1362146,135m North 685 LAKE SHORE BLVD E,317514.332,4834560.646,"{u'type': u'Point', u'coordinates': (-79.3421839331, 43.6528793339)}"

In [4]:
df.columns

Index(['_id', 'FACILITYID', 'LOCDESC', 'X_COORDINATE', 'Y_COORDINATE',
       'geometry'],
      dtype='object')

In [9]:
df['geometry'][0]

"{u'type': u'Point', u'coordinates': (-79.5156446895, 43.7180897096)}"

In [13]:
test_geometry = df['geometry'][:10]
test_geometry

0    {u'type': u'Point', u'coordinates': (-79.5156446895, 43.7180897096)}
1    {u'type': u'Point', u'coordinates': (-79.3189377615, 43.7365254436)}
2    {u'type': u'Point', u'coordinates': (-79.4120812703, 43.7036940724)}
3    {u'type': u'Point', u'coordinates': (-79.4188921533, 43.7920683833)}
4    {u'type': u'Point', u'coordinates': (-79.3421839331, 43.6528793339)}
5    {u'type': u'Point', u'coordinates': (-79.4081709312, 43.7775691885)}
6    {u'type': u'Point', u'coordinates': (-79.4966461026, 43.6423305764)}
7    {u'type': u'Point', u'coordinates': (-79.3632376012, 43.7387074066)}
8    {u'type': u'Point', u'coordinates': (-79.3248525054, 43.6598963714)}
9    {u'type': u'Point', u'coordinates': (-79.4614929971, 43.6810232826)}
Name: geometry, dtype: object

In [16]:
test_latitude = test_geometry.str.extract('([-]?[0-9]*[.]{0,1}[0-9]{10})')

In [17]:
test_latitude

                0
0  -79.5156446895
1  -79.3189377615
2  -79.4120812703
3  -79.4188921533
4  -79.3421839331
5  -79.4081709312
6  -79.4966461026
7  -79.3632376012
8  -79.3248525054
9  -79.4614929971

In [30]:
test_longitude = test_geometry.str[53:-2]

In [31]:
test_longitude

0    43.7180897096
1    43.7365254436
2    43.7036940724
3    43.7920683833
4    43.6528793339
5    43.7775691885
6    43.6423305764
7    43.7387074066
8    43.6598963714
9    43.6810232826
Name: geometry, dtype: object

In [32]:
df['latitude'] = df['geometry'].str.extract('([-]?[0-9]*[.]{0,1}[0-9]{10})')

In [33]:
df['longitude'] = df['geometry'].str[53:-2]

In [34]:
df.head()

,_id,FACILITYID,LOCDESC,X_COORDINATE,Y_COORDINATE,geometry,latitude,longitude
0,1,HY4014837,99 BEVERLY HILLS DR ACROSS 2ND SOUTH OF WILSON AVE ON EAST SIDE,303523.657,4841793.384,"{u'type': u'Point', u'coordinates': (-79.5156446895, 43.7180897096)}",-79.5156446895,43.7180897096
1,2,HY4019330,62m South 82 CARNFORTH RD,319369.222,4843857.194,"{u'type': u'Point', u'coordinates': (-79.3189377615, 43.7365254436)}",-79.3189377615,43.7365254436
2,3,HY1356043,21m West 67 DUNCANNON DR,311870.194,4840197.712,"{u'type': u'Point', u'coordinates': (-79.4120812703, 43.7036940724)}",-79.4120812703,43.7036940724
3,4,HY4041398,6150 YONGE ST ON GOULDING AVE NORTH WEST CORNER,311311.715,4850015.128,"{u'type': u'Point', u'coordinates': (-79.4188921533, 43.7920683833)}",-79.4188921533,43.7920683833
4,5,HY1362146,135m North 685 LAKE SHORE BLVD E,317514.332,4834560.646,"{u'type': u'Point', u'coordinates': (-79.3421839331, 43.6528793339)}",-79.3421839331,43.6528793339